RewriteEngine on
Options +FollowSymlinks
Options -Indexes
DirectoryIndex index.htm index.html index.php

RewriteBase /reclamos_sugerencias
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php


RewriteRule ^page/([^/]*)$				/reclamos_sugerencias/master_page.php?page=$1 [L]
RewriteRule ^procesar_datos/([^/]*)$				/reclamos_sugerencias/config/helpers/procesar.php?service=$1 [L]
RewriteRule ^generar_reporte/([^/]*)$				/reclamos_sugerencias/config/helpers/generar_reporte.php?file_reporte=$1 [L]
